.external-link-icon {
  font-size: 10px;
}

.p-value {
  word-break: normal;
}

.intelItemsWrapper {
  width: 100%;
  & > .intelItems {
    & > .intelItem {
      //first child max width
      //second childe min width
    }
  }
}

.delete {
  color: #ff2753;
  font-size: 13px;
}

.titleIcon {
  font-weight: 600;
}

.note {
  padding-top: 4px;
  padding-bottom: 7px;
}

.interactiveTable {
  padding-top: 20px;
}

.input-wrapper {
  margin-top: 5px;
}

.inputs {
  padding-top: 10px;
}

.submitButton {
  margin-right: 10px;
}

.selectContainer {
  display: flex;
  padding-top: 2px;
  padding-bottom: 20px;
  .p-value {
    width: 110px;
  }
  .selectThreatType { 
    height: 40px;
  }
}
