.external-link-icon {
  font-size: 8px;
  margin-bottom: 1px;
}

.p-title {
  font-weight: 600;
  padding-top: 3px !important;
  &:first-child {
    margin-top: 5px !important;
  }
  &.submission-options{
    margin-top: 15px !important;
  }
  height: 15px !important;
  min-height: 15px !important;
}

.p-value {
  word-break: normal;
}

table {
  td.icon {
    width: 25px;
  }

  td.type {
    width: 60px;
  }
}

.delete {
  color: #ff2753;
  font-size: 13px;
}

.no-style-button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;

  &:hover,
  &:focus {
    background: inherit;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }
}

.create-message {
  margin-right: 15px !important;
}

.remove {
  font-size: 13px;
}

.titleIcon {
  font-weight: 600;
}

.note {
  padding-top: 4px;
  padding-bottom: 7px;
}

.selectContainer {
  display: flex;
  padding-top: 2px;
  padding-bottom: 10px;

  .p-value {
    width: 110px;
  }
}

.tag-container {
  margin-top: -15px;
}

.delete-tag-btn {
  background-color: transparent;
  border: none;
}

.delete-tag-btn:hover {
  color: #ff4559;
}

.edit-tags-btn-container {
  margin-top: 10px;
}

.edit-tags-container {
  margin-top: 10px;
  margin-bottom: 10px;

  .add-tag-container {
    margin-top: 10px;
  }
}

a.tag {
  border: 2px solid #000;
  color: #000;
  &:hover {
    color: #0082bc;
  }
  padding: 2px 0px 2px 5px;
  display: inline-block;
  margin: 2px 0;
  word-break: break-all;
}

a.tag.tlp-red {
  border: 2px solid #ff4559;
  color: #ff4559;
}

div.tag-container {
  padding-bottom: 5px;
}

div.item:last-child {
  border-bottom: none;
}

div.additional-sources-count {
  text-align: right;
  padding-right: 5px;
}

.p-btn {
  height: 30px;
  font-size: 12px !important;
  font-weight: 500;
  min-width: 95px;
}

.modal-open {
  min-height: 175px;
}

.ioc-deletion-modal {
  position: absolute;
  background: #ededed;
  border: #cdcdcd 1px solid;
  top: 30x;
  left: 30px;
  width: calc(100% - 60px);
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-right: 8px;
  padding-left: 8px;

  .p-key {
    color: #616a71 !important;
    
    div {
      padding-top: 4px;
    }
  }

  .delete-confirmation-button {
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;

    .cancel-delete {
      margin-right: 8px;
      background-color: white;
      border-radius: 2px;
    }
  }
}