.external-link-icon {
  font-size: 10px;
}

.p-value {
  word-break: normal;
}

.intelItemsWrapper {
  width: 100%;
  & > .intelItems {
    & > .intelItem {
    }
  }
}

.delete {
  color: #ff2753;
  font-size: 13px;
}

.titleIcon {
  font-weight: 600;
}

.note {
  padding-top: 4px;
  padding-bottom: 7px;
}
